{% extends "base_admin.html" %}

{% block title %}
Users
{% endblock %}

{% block content %}

<h1>Users</h1>

<div class="card">

<table>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
        
    </tr>

    {% for user in users %}
    <tr>

        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>

        <td>
            {% if user.is_blacklisted %}
                <a class="btn btn-success"
                   href="/admin/unblacklist-user/{{ user.id }}">
                    Unblacklist
                </a>
            {% else %}
                <a class="btn btn-delete"
                   href="/admin/blacklist-user/{{ user.id }}">
                    Blacklist
                </a>
            {% endif %}
        </td>

    </tr>
    {% endfor %}

</table>

</div>

{% endblock %}