{% extends "base_admin.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<h1>Admin Dashboard</h1>

<div class="dashboard-cards">

    <div class="summary-card">
        <h3>👤 Users</h3>
        <h1>{{ total_users }}</h1>
    </div>

    <div class="summary-card">
        <h3>🥾 Staff</h3>
        <h1>{{ total_staff }}</h1>
    </div>

    <div class="summary-card">
        <h3>🏔 Treks</h3>
        <h1>{{ total_treks }}</h1>
    </div>

    <div class="summary-card">
        <h3>📖 Bookings</h3>
        <h1>{{ total_bookings }}</h1>
    </div>

</div>

{% endblock %}