<h2>Existing Treks</h2>

<table border="1" cellpadding="8">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Difficulty</th>
        <th>Duration</th>
        <th>Slots</th>
        <th>Status</th>
        <th>Assigned Staff</th>
        <th>Assign Staff</th>
        <th>Actions</th>
    </tr>

    {% for trek in treks %}
    <tr>
        <td>{{ trek.id }}</td>
        <td>{{ trek.name }}</td>
        <td>{{ trek.location }}</td>
        <td>{{ trek.difficulty }}</td>
        <td>{{ trek.duration }}</td>
        <td>{{ trek.available_slots }}</td>
        <td>{{ trek.status }}</td>
        <td>
            {% if trek.assigned_staff %}
                {{ trek.assigned_staff.name }} (ID: {{ trek.assigned_staff.id }})
            {% else %}
                None
            {% endif %}
        </td>
        <td>
            <form method="POST" action="/admin/assign-staff/{{ trek.id }}">
                <select name="staff_id" required>
                <option value="0" {% if trek.assigned_staff_id == None %}selected{% endif %}>
                    None
                </option>

                {% for staff in staff_list %}
                <option value="{{ staff.id }}" {% if trek.assigned_staff_id == staff.id %}selected{% endif %}>
                    {{ staff.name }}
                </option>
                {% endfor %}
            </select>

                <button type="submit">Assign</button>
            </form>
        </td>

        <td>
            <a href="/admin/edit-trek/{{ trek.id }}">Edit</a>
            |
            <a href="/admin/delete-trek/{{ trek.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}

</table>